* {
  box-sizing: border-box;
}

ul, li {
  all: unset;
}

.container {
  border: 1px solid rgb(255, 255, 255);
  background: rgba(10, 10, 10, 0.801);
  height: 80vh;
  width: 80vw;
  padding: 20px;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 2fr; 
  gap: 10px 10px; 
  border-radius: 8px;
}

.screen {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  background: black;
  display: grid; 
  grid-template-columns: 0.8fr 1.2fr; 
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px 10px; 
  grid-template-areas: 
    ". storage"
    "result result"; 
  color: white;
  text-align: right;
  padding: 7px;
}

.storage { 
  grid-area: storage;  
}

.result { 
  grid-area: result; 
  font-size: 2em;
}

.interactables {  
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px 10px;
  grid-template-areas: 
  ". . . . . . ."
  "dropDown1 dropDown1 . digits digits digits ."
  ". . . digits digits digits ."
  ". . . digits digits digits ."
  ". . . digits digits digits ."; 
}

.dropdown {
  grid-area: dropDown1;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px;
  background:gray;
  position: relative;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid white;
}

.dropdown-menu { 
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
  left: 0;
  top:100%;
  border:1px solid black;
  background: gray;
}

.dropdown:hover  .dropdown-menu {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  display:block;
  left: 0;
}

.dropdown li {
  height: 50%;
  width: 100%;
  margin-left: -2px;
}

.dropdown-menu:hover {
  background-color: rgb(175, 175, 175)
}

.digits {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  gap: 10px 10px; 
  grid-area: digits; 
}

.digits > button {
  background: rgb(61, 61, 61);
}

button {
  all: unset;
  text-align: center;
  border-radius: 4px;
  background: gray;
  border: 1px solid white;
}

button:hover {
  background-color: rgb(175, 175, 175);
}

.dropdown-menu button {
  height: 100%;
  width: 100%;
}